trunk/WCFClient/WCFClient/Service References/HomeService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HomeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHomeService_GetLength_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLength" />
  </wsdl:message>
  <wsdl:message name="IHomeService_GetLength_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLengthResponse" />
  </wsdl:message>
  <wsdl:message name="IHomeService_GetDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataContract" />
  </wsdl:message>
  <wsdl:message name="IHomeService_GetDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IHomeService_TestMessage_InputMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/Message" name="message" type="q1:MessageBody" />
  </wsdl:message>
  <wsdl:message name="IHomeService_TestMessage_OutputMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/Message" name="TestMessageResult" type="q2:MessageBody" />
  </wsdl:message>
  <wsdl:message name="CarMessage">
    <wsdl:part name="parameters" element="tns:CarMessage" />
  </wsdl:message>
  <wsdl:message name="CarMessage_Headers">
    <wsdl:part name="IP" element="tns:IP" />
  </wsdl:message>
  <wsdl:message name="ResponseMessage">
    <wsdl:part name="parameters" element="tns:ResponseMessage" />
  </wsdl:message>
  <wsdl:message name="IHomeService_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="IHomeService_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="TransferFileMessage">
    <wsdl:part name="parameters" element="tns:TransferFileMessage" />
  </wsdl:message>
  <wsdl:message name="TransferFileMessage_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
  </wsdl:message>
  <wsdl:message name="IHomeService_UploadFileWithMessageContract_OutputMessage" />
  <wsdl:portType name="IHomeService">
    <wsdl:operation name="GetLength">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomeService/GetLength" message="tns:IHomeService_GetLength_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomeService/GetLengthResponse" message="tns:IHomeService_GetLength_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomeService/GetDataContract" message="tns:IHomeService_GetDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomeService/GetDataContractResponse" message="tns:IHomeService_GetDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomeService/TestMessage" message="tns:IHomeService_TestMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomeService/TestMessageResponse" message="tns:IHomeService_TestMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostMessageContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomeService/PostMessageContract" name="CarMessage" message="tns:CarMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomeService/PostMessageContractResponse" name="ResponseMessage" message="tns:ResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomeService/UploadFile" message="tns:IHomeService_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomeService/UploadFileResponse" message="tns:IHomeService_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileWithMessageContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IHomeService/UploadFileWithMessageContract" name="TransferFileMessage" message="tns:TransferFileMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHomeService/UploadFileWithMessageContractResponse" message="tns:IHomeService_UploadFileWithMessageContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHomeService" type="tns:IHomeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLength">
      <soap:operation soapAction="http://tempuri.org/IHomeService/GetLength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataContract">
      <soap:operation soapAction="http://tempuri.org/IHomeService/GetDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestMessage">
      <soap:operation soapAction="http://tempuri.org/IHomeService/TestMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostMessageContract">
      <soap:operation soapAction="http://tempuri.org/IHomeService/PostMessageContract" style="document" />
      <wsdl:input name="CarMessage">
        <soap:header message="tns:CarMessage_Headers" part="IP" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ResponseMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IHomeService/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileWithMessageContract">
      <soap:operation soapAction="http://tempuri.org/IHomeService/UploadFileWithMessageContract" style="document" />
      <wsdl:input name="TransferFileMessage">
        <soap:header message="tns:TransferFileMessage_Headers" part="FileName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HomeService">
    <wsdl:port name="BasicHttpBinding_IHomeService" binding="tns:BasicHttpBinding_IHomeService">
      <soap:address location="http://127.0.0.1:28200/HomeService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>